<h3>Editing post</h3>
<%= form_for @post, :as => :post, :url => { :action => "update" },  \
  :html => { :multipart => true, :method => :put } do |f| %>
<%= render 'form', :f => f %>
<% end %>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
